version: "3.8"
services:
  strapi:
    image: strapi/strapi:latest
    restart: always
    ports:
      - "1337:1337"
    environment:
      DATABASE_CLIENT: postgres
      DATABASE_HOST: ${DB_HOST}
      DATABASE_PORT: "5432"
      DATABASE_NAME: ${DB_NAME}
      DATABASE_USERNAME: ${DB_USER}
      DATABASE_PASSWORD: ${DB_PASSWORD}
      DATABASE_SSL: "true"
      PGSSLMODE: "require"
      NODE_EXTRA_CA_CERTS: "/etc/ssl/certs/rds-global-bundle.pem"
      DATABASE_SSL__REJECT_UNAUTHORIZED: "true"
    volumes:
      - ./strapi-data:/srv/strapi
      - /home/ubuntu/rds-ca/global-bundle.pem:/etc/ssl/certs/rds-global-bundle.pem:ro
