version: "3.8"
services:
  strapi:
    image: strapi/strapi:latest
    restart: always
    ports:
      - "1337:1337"
    environment:
      DATABASE_CLIENT: postgres
      DATABASE_HOST: ${DB_HOST}
      DATABASE_PORT: "5432"
      DATABASE_NAME: ${DB_NAME}
      DATABASE_USERNAME: ${DB_USER}
      DATABASE_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ./strapi-data:/srv/strapi
